@import "tailwindcss";
@import "tailwindcss/utilities";
@import "tailwindcss/theme";

/* Colors */
@theme {
  --color-main-primary: rgba(249, 115, 22, 1);
  --color-main-neutral: rgba(229, 229, 229, 1);
  --color-main-neutral2: rgba(38, 38, 38, 1);
  --color-main-white: rgba(255, 255, 255, 1);
  --color-main-black: rgba(0, 0, 0, 1);
  --color-main-secondary: rgba(14, 165, 233, 1);
  --color-main-background: rgba(250, 250, 250, 1);

  --color-supporting-support: rgba(64, 64, 64, 1);
  --color-supporting-light-sky: rgba(125, 211, 252, 1);
  --color-supporting-dark-sky: rgba(3, 105, 161, 1);
  --color-supporting-light-orange: rgba(253, 186, 116, 1);
  --color-supporting-dark-orange: rgba(194, 65, 12, 1);
  --color-supporting-error: rgba(239, 68, 68, 1);

  --color-float-background: rgba(250, 250, 250, 0.97);
  --color-float-neutral-background: rgba(229, 229, 229, 0.97);

  --font-sans: "IBM Plex Sans Thai", sans-serif;
  --font-mono: Menlo, monospace;
}

/* Font utilities */
@layer base {
  h1 {
    /* Apply your desired Tailwind classes */
    @apply font-sans text-5xl font-bold leading-[1.1667];
  }

  h2 {
    @apply font-sans text-3xl font-semibold leading-[1.2];
  }

  h3 {
    @apply font-sans text-2xl font-semibold leading-[1.3333];
  }

  h4 {
    @apply font-sans text-xl font-semibold leading-[1.4];
  }

  .lead {
    @apply font-sans text-xl font-normal leading-[1.4];
  }

  .large {
    @apply font-sans text-lg font-medium leading-[1.5556];
  }

  p {
    @apply font-sans text-xl font-normal leading-[1.625];
  }

  .code {
    @apply font-mono text-sm font-bold leading-[1.4286];
  }

  .small {
    @apply font-sans text-sm font-medium leading-[1];
  }

  .subtle {
    @apply font-sans text-sm font-normal leading-[1.4286];
  }
  
  .detail {
    @apply font-sans text-xs font-normal leading-[1.3333];
  }
}

button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
  text-wrap: nowrap;
}

.btn-primary {
  border-radius: 8px;
  border-top: 0.25px solid var(--supporting-dark-orane, rgba(194, 65, 12, 1));
  border-right: 0.5px solid var(--supporting-dark-orane, rgba(194, 65, 12, 1));
  border-bottom: 2px solid var(--supporting-dark-orane, rgba(194, 65, 12, 1));
  border-left: 0.5px solid var(--supporting-dark-orane, rgba(194, 65, 12, 1));
  background: var(--main-primary, rgba(249, 115, 22, 1));
  box-shadow: 0 0 0 0.5px #CF4D09, 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: var(--color-main-neutral, rgba(229, 229, 229, 1));
}

.btn-primary:hover {
  border-radius: 8px;
  border-top: 0.25px solid var(--supporting-support, rgba(64, 64, 64, 1));
  border-right: 0.5px solid var(--supporting-support, rgba(64, 64, 64, 1));
  border-bottom: 2px solid var(--supporting-support, rgba(64, 64, 64, 1));
  border-left: 0.5px solid var(--supporting-support, rgba(64, 64, 64, 1));
  background: var(--supporting-dark-orane, rgba(194, 65, 12, 1));
  box-shadow: 0 0 0 0.5px #CF4D09, 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.btn-secondary {
  border-radius: 8px;
  border-top: 0.25px solid var(--supporting-dark-sky, rgba(3, 105, 161, 1));
  border-right: 0.5px solid var(--supporting-dark-sky, rgba(3, 105, 161, 1));
  border-bottom: 2px solid var(--supporting-dark-sky, rgba(3, 105, 161, 1));
  border-left: 0.5px solid var(--supporting-dark-sky, rgba(3, 105, 161, 1));
  background: var(--main-secondary, rgba(14, 165, 233, 1));
  box-shadow: 0 0 0 0.5px rgba(3, 105, 161, 1), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: var(--color-main-neutral, rgba(229, 229, 229, 1));
}
.btn-secondary:hover {
  border-radius: 8px;
  border-top: 0.25px solid var(--supporting-support, rgba(64, 64, 64, 1));
  border-right: 0.5px solid var(--supporting-support, rgba(64, 64, 64, 1));
  border-bottom: 2px solid var(--supporting-support, rgba(64, 64, 64, 1));
  border-left: 0.5px solid var(--supporting-support, rgba(64, 64, 64, 1));
  background: var(--supporting-dark-sky, rgba(3, 105, 161, 1));
  box-shadow: 0 0 0 0.5px rgba(3, 105, 161, 1), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.btn-tertiary {
  border-radius: 8px;
  border-top: 0.25px solid var(--main-neutral, rgba(229, 229, 229, 1));
  border-right: 0.5px solid var(--main-neutral, rgba(229, 229, 229, 1));
  border-bottom: 2px solid var(--main-neutral, rgba(229, 229, 229, 1));
  border-left: 0.5px solid var(--main-neutral, rgba(229, 229, 229, 1));
  background: var(--main-white, rgba(255, 255, 255, 1));
  box-shadow: 0 0 0 0.5px #E5E5E5, 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.btn-tertiary:hover {
  border-radius: 8px;
  border-top: 0.25px solid var(--supporting-support, rgba(64, 64, 64, 1));
  border-right: 0.5px solid var(--supporting-support, rgba(64, 64, 64, 1));
  border-bottom: 2px solid var(--supporting-support, rgba(64, 64, 64, 1));
  border-left: 0.5px solid var(--supporting-support, rgba(64, 64, 64, 1));
  background: var(--main-neutral, rgba(229, 229, 229, 1));
  box-shadow: 0 0 0 0.5px #E5E5E5, 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}

.btn-locked {
  border-radius: 8px;
  border: 1px solid #E5E5E5;
   background: #FFF;
}

.btn-ghost-light {
  border-radius: 8px;
  border: 1px solid var(--Supporting-Support, #404040);
}

.btn-ghost-light:hover {
  border-radius: 8px;
  border: 1px solid var(--Supporting-Support, #404040);
  background: var(--Main-Neutral, #E5E5E5);
}

.btn-icon {
  padding: 0px;
  border-radius: calc(infinity * 1px);
  border: 0.25px solid var(--main-neutral, #E5E5E5);
  background: var(--main-white, #FFF);
}

.btn-icon:hover {
  filter: brightness(0.9);
}
@media (width >=48rem) {
  .btn-icon {
    padding: 8px;
    border-radius: 8px;
    border-top: 0.25px solid var(--main-neutral, #E5E5E5);
    border-right: 0.5px solid var(--main-neutral, #E5E5E5);
    border-bottom: 2px solid var(--main-neutral, #E5E5E5);
    border-left: 0.5px solid var(--main-neutral, #E5E5E5);
    background: var(--main-white, #FFF);
    box-shadow: 0 0 0 0.5px #E5E5E5, 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  }
  .btn-icon:hover {
    border-radius: 8px;
    border-top: 0.25px solid var(--Supporting-Support, #404040);
    border-right: 0.5px solid var(--Supporting-Support, #404040);
    border-bottom: 2px solid var(--Supporting-Support, #404040);
    border-left: 0.5px solid var(--Supporting-Support, #404040);
    background: var(--Main-Neutral, #E5E5E5);
    box-shadow: 0 0 0 0.5px #E5E5E5, 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  }
}

.btn-link1{
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  color: #3B82F6;
}

/* Card */
.simple-card {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* 12px */
  border-radius: 0.75rem; /* 12px */
  background-color: var(--color-main-white);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.06);
}

.bn-default-styles p {
  font-size: 20px !important;
}

.bn-editor [data-content-type=table] th p {
  font-weight: 700 !important;
}

/* BlockNote Renderer Styles */
[data-content-type=divider] hr {
  border-color: var(--color-main-neutral) !important;
}

.blocknote-readonly input[type="checkbox"] {
  pointer-events: none !important;
}