---
export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Redirecting...</title>
    <script>
      window.location.href = '/en';
    </script>
  </head>
  <body>
    <p>Redirecting to <a href="/en">/en</a>...</p>
  </body>
</html>
