---
const { currentLang } = Astro.props;
const otherLang = currentLang === 'th' ? 'en' : 'th';
---

<a href={`/${otherLang}`} class="text-blue-600 underline">
  Switch to {otherLang.toUpperCase()}
</a>
