---
import { Users } from "lucide-react";
import Avatar from "../common/Avatar/Avatar";

const { t, lang, project } = Astro.props;

const contributors = project.contributors || [];
---

<section id="ContributorProjectDetail" class="flex w-full flex-col gap-4 py-4 px-[150px] bg-main-white">
    <div class="flex px-3">
        <div class="simple-card w-full! px-5 py-5">
            <div class="flex items-center gap-2">
                <Users className="text-main-neutral2"/>
                <h3 class="text-main-neutral2">Contributors</h3>
            </div>
            <div class="flex flex-col gap-3">
                {
                    contributors.map((contributor : any) => (
                    <div class="flex items-center gap-3">
                        <Avatar
                            client:load
                            name={contributor.fullname}
                            avatar={contributor.profileImageUrl}
                        />
                        <div class="flex flex-col py-1">
                            <span class="large">{contributor.fullname}</span>
                            <span class="detail">{contributor.role}</span>
                        </div>
                    </div>
                    ))
                }  
            </div>  
        </div>
    </div>
</section>