---
import { ExternalLink } from "lucide-react";

const { t, lang, project } = Astro.props;

const externalLinks = project.externalLinks || [];
---

<section id="ExternalLinksProjectDetail" class="flex w-full flex-col gap-4 py-4 px-[var(--padding-xl)]">
    <div class="flex px-3">
        <div class="simple-card w-full! px-5 py-5">
            <div class="flex items-center gap-2">
                <ExternalLink className="text-main-neutral2" />
                <h3 class="text-main-neutral2">External Links</h3>
            </div>
            <div class="flex flex-col">  
                {externalLinks.map((link : string) => (
                    <a href={link} class="btn-link1 small">{link}</a>
                ))}
            </div>
        </div>
    </div>
</section>