---
import '../styles/global.css';
import { Toaster } from "@/components/ui/sonner";
const { title = 'MhodNgan', class: extraClass = '' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="min-h-screen ${extraClass}">
    <main class={`flex flex-col justify-center bg-main-background text-main-neutral2`}>
      <slot />
    </main>
    <Toaster position="bottom-right" expand richColors visibleToasts={10} client:load
      toastOptions={{
        classNames: {
          title: 'text-xl font-semibold leading[1.4]',
          description: 'text-sm !text-main-neutral2 font-normal leading-[1.4286]',
        },
      }}
    />
  </body>
</html>
